from time import gmtime, strftime

MYSQL_SERVER   = '127.0.0.1'
MYSQL_PORT     = 3306
MYSQL_USER     = 'root'
MYSQL_PASSWORD = 'root'
MYSQL_DB       = 'search'

IMAGES_STORE = '/home/justin/public_html/sat8web/public/uploads'

LOG_FILE = 'logs/' + strftime("%Y%m%d") + '.log'

ENABLE_LOG_FILE = False