from time import gmtime, strftime

MYSQL_SERVER   = '127.0.0.1'
MYSQL_PORT     = 3306
MYSQL_USER     = 'root'
MYSQL_PASSWORD = 'root'
MYSQL_DB       = 'search'

IMAGES_STORE = '/home/abc/public_html/sat8web/public/uploads'

LOG_FILE = 'logs/' + strftime("%Y%m%d") + '.log'

LOG_PATH = '/home/abc/public_html/sat8spider/logs/'

ENABLE_LOG_FILE = False

API_VG_USER = 'abc'
API_VG_PASSWORD = 123

DOWNLOAD_DELAY = 0.5

GOOGLE_STORAGE_CLIENT_ID = 'xxx'
GOOGLE_STORAGE_CLIENT_SECRET = 'xxx'

GOOGLE_STORAGE_BUCKET_NAME = 'xxx'